AZURE_OPENAI_API_VERSION="2025-05-01-preview" # Fixed
AZURE_OPENAI_ENDPOINT="https://<foundry resource name>.openai.azure.com"
AZURE_VOICE_LIVE_ENDPOINT="wss://<foundry resource name>.cognitiveservices.azure.com/voice-live"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4.1" # Model name for Azure OpenAI
MODE="UI"
AGENT_PROJECT_NAME="<project_name>"
AGENT_ID="<agent_id>"